
<div class="container-fluid bg-grey">
 <h2 id="contact" class="text-left">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 2 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Brooklyn,NY</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 (929) 265-5422</p>
      <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@alphaengine.tech?Subject=Request%20More%20Info" target="_top">info@alphaengine.tech</a></p>
    </div>
      <div class="footer">
        <p class="copyright">© 2018 alphaEngine LLC. All rights reserved.</p>
    </div>  
    </div>
  </div>
</body>
</html>
