<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alphaEngine.tech "Providing complete solutions to complex problems"</title>
    <link rel="icon" href="public/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> 
    <script src="site.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-toggle"> 
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </a>
   <a class="navbar-brand" href="/">alphaEngine.tech </a>
   </div>
   <div id="slidemenu">
       <ul class="nav navbar-nav">
     <li class="active"><a href="pricing">Pricing</a></li>
     <li><a href="/homeServices">Home Services</a></li>
     <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Enterprise Services <b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li class="dropdown-header">Enterprise Services</li>
       <li><a href="/technicalDocumenting">Technical Documenting</a></li>
       <li><a href="/managedITservices">Managed IT Services</a></li>
       <li><a href="/professionalITservices">Professional IT Services</a></li>
       <li><a href="#">Networking</a></li>
      </ul>
    </ul>

   </div>
  </div>
 </div>
