<% include partials/header %>
<header id="jumbo_home_services" class="jumbotron">
<h1>Home Services</h1>
</div>
</header>
<div class=container-fluid>
<p>alphaEngine engineers find great pride in providing enterprise quality service to our home-user base. No task is too large or too small. Need a Wi-Fi network installed and secured, need a virus removed, want recomendations on a backup system? We can help with all of these and make recomendations on best practices going forward. Our engineers are well versed on multiple platforms and can even help with creating that smart home you've been thinking about.</p>

<ul>
  <li>Installation and On Site Diagnosis $79.99</li>
  <li>Hardware Installation $39.99</li>
  <li>Software Installation $29.99</li>
  <li>In Home Technology Consultation $79.99</li>
  <li>Virus Removal $99.99</li>
  <li>Printer Setup $29.99</li>
  <li>Tune Up $29.99</li>
  <li>Home Network Setup $99.99</li>
  <li>TV/Audio Setup $129.99 * Up to 55 inch TV</li>
  <li>Data Recovery $149.99</li>
</ul>
</div>
<% include partials/footer %>
