<% include partials/header %>
<header id="jumbo-landing" class="jumbotron text-center">
    <h1 id="jumbo_h1">About Us</h1>
      <p id="paragraph_jumbo_landing"class="lead">alphaEngine is a Managed IT Services Provider offering information technology management services and IT Consulting to organizations in the NYC area. We offer value-driven solutions to manage and operate IT infrastructure using our automated toolset and skilled technicians. Our trusted team of IT professionals provide superior end-user device management support to improve your business management and success.</p>
</header>
<div class="container-fluid">

<hr>
<h2 id="h2_landing">What We Do</h2>
<div class="row">
<div class="col-md-6 col-sm-12">
  <h3>Professional IT Services</h3>
    <p>Our ITIL foundation certified engineers will architect a solution specific to your needs. After evaluation of your current Service-Desk services. We can restructure and provde a game changing plan that can restore end-user confidence and satisfaction. Or we can architect a new one from scratch. <a href="/professionalITservices"><strong>Read More ></strong></a></p>
</div>
<div class="col-md-6 col-sm-12">
  <h3>Managed IT Services</h3>
    <p>Every device you rely on to run your business is maintained and supported 24/7. We proactively manage your devices remotely and on-site. With everything from patch management and device compliance, to OSD rollout, to infrastructure architecting. We can provide a affordable solution to the most complex problems. <a href="/managedITservices"><strong>Read More ></strong></a></p>
</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-12">
  <h3>Technical Documenting</h3>
    <p>We are very skilled at taking those text files and post it notes containing valuable environment data and turning it into a usable knowledgebase hosted on the wiki platform of your choice. <a href="/technicaldocumenting"><strong>Read More ></strong></a></p>
</div>
<div class="col-md-6 col-sm-12">
  <h3>Networking</h3>
    <p>In the tradition of providing a full-stack of services, We provide network solutions as well. From cable runs, to firewall installation and configuration, to subnetting and configuring routes. alphaEngine does it all.</p>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>1-10</strong> Devices</p>
          <p><strong>1</strong> Server</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$199</h3>
          <h4>per month</h4>
          <a href="/basic" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>10-20</strong> Devices</p>
          <p><strong>2</strong> Servers</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$299</h3>
          <h4>per month</h4>
         <a href="/pro" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>20-30</strong> Devices</p>
          <p><strong>3</strong> Servers</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$499</h3>
          <h4>per month</h4>
          <a href="/premium" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<h2 id="h2_landing_home">Home Services</h2>  
<div class=container-fluid>
<p> alphaEngine engineers find great pride in providing enterprise quality service to our home-user base. No task is too large or too small. Need a Wi-Fi network installed and secured, need a virus removed, want recomendations on a backup system? We can help with all of these and make recomendations on best practices going forward. Our engineers are well versed on multiple platforms and can even help with creating that smart home you've been thinking about.</p>
</div>

<% include partials/footer %>
