<% include partials/header %>
<header id="jumbo_managed" class="jumbotron">
<h1>Managed IT Services</h1>
</div>
</header>
<div class="container-fluid">
  <p>In todays environments, organizations are challenged to implement new technology with limited resources, time, and/or experience. Here at alphaEngine our main goal is to provide affordable solutions that simplify your information technology needs. We keep up to date in the latest software and security vulnerabilities so you can focus on inportant things like, growing your business.</p>

<h3>We Specialize In</h3>
<ul>
  <li>Cloud Management</li>
  <li>Scalability</li>
  <li>Device Encryption</li>
  <li>Data Backup/Recovery</li>
  <li>Device Deployment/Management</li>
  <li>Security Compliance</li>
  <li>Microsoft Deployment Toolkit</li>
  <li>System Center Configuration Manager 2012</li>
  <li>JAMF Pro</li>
</ul>   
  <p>Every device you rely on to run your business is maintained and supported 24/7. We proactively manage your devices remotely and on-site. With everything from patch management and device compliance, to OSD rollout, to infrastructure architecting. We do it all!</p>
 <p>Our certified engineers are HIPPA compliant and have real world experience providing IT engineering to Healthcare, Finance, and Creative/Advertising clients. Don't wait and allow your device to become vulnerable and outdated <a href="mailto:info@alphaengine.tech?Subject=Request%20More%20Info"><strong> Contact Us </strong></a>lets talk today!</p>   
</div>
<% include partials/footer %>
