<% include partials/header %>
<div class="container-fluid">
 <h1>Premium Package $499</h1>
 <p>Our Premium packages is catered towards enterprise device management.</p>

 <h3>Devices Included</h3>
 <ul><h4>20-30 Devices</h4></ul>
 <ul>
   <li>iOS Devices - iPhone/iPad</li>
   <li>Windows Devices - Windows 7 and Up</li>
   <li>macOS Devices - OSX 10.11 and Up</li>
   <li>Linux Devices</li>
</ul>

<h3>Servers Included</h3>
<ul><h4>3 Servers</h4></ul>
<ul>
  <li>Windows Server 2008 and Up</li>
  <li>CentOS Server</li>
  <li>Ubuntu Server</li>
  <li>macOS Server</li>
  <li>JAMF Pro</li>
</ul>
 <h4>Servers can be locally hosted or in the cloud. *Price does not include Website Hosting, Management, or Design.*</h4>
 </div>


 <% include partials/footer %>
