<% include partials/header %>
<div class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>1-10</strong> Devices</p>
          <p><strong>1</strong> Server</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$199</h3>
          <h4>per month</h4>
          <a href="/basic" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>10-20</strong> Devices</p>
          <p><strong>2</strong> Servers</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$299</h3>
          <h4>per month</h4>
         <a href="/pro" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
        <p><strong>20-30</strong> Devices</p>
          <p><strong>3</strong> Servers</p>
          <p><strong>Custom Plans Also Available</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$499</h3>
          <h4>per month</h4>
          <a href="/premium" button class="btn btn-lg">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
