<% include partials/header %>
<header id="jumbo_technical" class="jumbotron">
<h1>Technical Documenting</h1>
</div>
</header>
<div class="container-fluid">
<h3>Technical Documenting</h3>
<p>Technical documentation is either the first or the last stop for users looking for authentic information, it can reduce the number of calls made to the helpdesk and empower users to get started on their own. The importance of accurate documentation cannot be exaggerated. We take pride in presenting information in a language or manner that is accessible to a wide audience without leaving any room for ambiguity, bias, and uncertainty.</p>
<h2>Our Process</h2>
<h3>Requirements Gathering</h3>
  <ul>
   <li>Understanding the audience</li>
   <li>Gathering product knowledge through source</li>
   <li>Gathering required information from the in-house team and the team on the clients end</li>
  </ul>
<h3>Analysis and design</h3>
  <ul>
   <li>Analyzing the project-related documentation</li>
   <li>Designing the document plan</li>
   <li>Designing templates or modifying the existing templates</li>
   <li>Defining the structure, the layout, and the overall look and feel of the content</li>
   </ul>
<h3>Content creation and review</h3>
  <ul>
    <li>Creating accurate, user-friendly content</li>
    <li>Undertaking peer-review, technical review, functional review, and client review for the content</li>
    <li>Incorporating review feedback</li>
    <li>Preparing the final deliverable
  </ul>
<h3>Documentation deliverables</h3>
   <ul>
     <li>User guides</li>
     <li>Administrator guides</li>
     <li>Installation guides</li>
     <li>Configuration and deployment guides</li>
     <li>Product manuals</li>
     <li>Online help</li>
     <li>Technical notes</li>
     <li>Release notes</li>
     <li>Knowledgebase articles</li>
    </ul>
<p>We are very skilled at taking those text files and post it notes containing valuable environment data and turning it into a usable knowledgebase hosted on the wiki platform of your choice.</p>
</div>
<% include partials/footer %>
